.nav{
    position: fixed;
    display: flex;
    text-align: left;
    text-indent: 15px;
    width: 100%;
    height: 80px;
    color: whitesmoke;
    background-color:  rgb(6, 17, 33);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.16);
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
 
    box-sizing: border-box;
    z-index: 3;
}
.main {
    height: 100vh;
    width: 600px;
    color: rgb(0, 0, 0);
}
.headin{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;

}
.headinel{
  width: 60%;
  margin-top: 90px;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1005;
}
.outerd{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.roww{
    margin-inline: auto;
    color: white;
    display: flex;
  justify-content: space-evenly;
    width: 90%;
    border-bottom: 1px solid white;
    padding-bottom: 7px;

}
.roww div{
padding-inline: auto;
width:160px;
text-align: initial;}